@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="column">
            <div class="card red">@Html.ActionLink("Monkey", "Index", "Game")</div>
        </div>
        <div class="column">
            <div class="card orange">@Html.ActionLink("Monkey V1", "MonkeyV1", "Game")</div>
        </div>
        <div class="column">
            <div class="card yellow">@Html.ActionLink("VueDice", "VueDice", "Game")</div>
        </div>
        <div class="column">
            <div class="card olive">@Html.ActionLink("Puzzle", "Index", "PuzzleGame")</div>
        </div>
    </div>
    <div class="row">
        @*<div class="column">
            <div class="card green">@Html.ActionLink("Puzzle V1", "Version1", "PuzzleGame")</div>
        </div>
        <div class="column">
            <div class="card teal">@Html.ActionLink("Puzzle V2", "Version2", "PuzzleGame")</div>
        </div>*@
        <div class="column">
            <div class="card blue">@Html.ActionLink("Vietlott", "Index", "VietLott")</div>
        </div>
        @*<div class="column">
            <div class="card blue">@Html.ActionLink("Vietlott V1", "Version1", "VietLott")</div>
        </div>*@
    </div>
</div>
